/* Doom Panic */
/* 0ttrSpace 2022-03-27 */
/* Based on Panic Mode from bcdev */

/* If you want to edit this but keep the DoomOne style coloring here is the basic color scheme that I use with Alacritty */

/*
  DoomOne:
    primary:
      background: '#282c34'
      foreground: '#bbc2cf'
    cursor:
      text: CellBackground
      cursor: '#528bff'
    selection:
      text: CellForeground
      background: '#3e4451'
    normal:
      black:   '#1c1f24'
      red:     '#ff6c6b'
      green:   '#98be65'
      yellow:  '#da8548'
      blue:    '#51afef'
      magenta: '#c678dd'
      cyan:    '#5699af'
      white:   '#202328'
    bright:
      black:   '#5b6268'
      red:     '#da8548'
      green:   '#4db5bd'
      yellow:  '#ecbe7b'
      blue:    '#3071db'   
      magenta: '#a9a1e1'
      cyan:    '#46d9ff'
      white:   '#dfdfdf'
*/


/* global */

:root
{
--font-size-normal: 14px;
--font-size-code: 12px;
--font-size-side-dock: 11px;
--font-size-side-dock-title: 12px;
--font-size-blockquote: 12px;
--font-size-status-bar: 10px;
--font-small: 10px;
--font-medium: 12px;
--line-height-preview: 1em;
--line-height-header-preview: 1em;
--font-family-mdpreview: SauceCodePro Nerd Font, ;
--font-family-editor: SauceCodePro Nerd Font;
--font-family-preview: SauceCodePro Nerd Font;
--font-family-code: Hack Nerd Font;
} 

.theme-light,
.theme-dark 
{
--background-primary: #282c34;
--background-primary-alt:	#292c33;
--background-secondary: #272a30;
/* --background-secondary: rgba(16, 22, 30,1); */
--background-secondary-alt:	var(--background-secondary); 
--background-accent:	rgba(0,0,0,0.08);
--background-modifier-border:	var(--text-faint);
--background-modifier-form-field:	var(--background-primary);
--background-modifier-form-field-highlighted:	var(--tag-bg);
--background-modifier-box-shadow:	rgba(0, 0, 0, 0.3);
--background-modifier-success:	#98be65;
--background-modifier-error:	#ff6c6b;
--background-modifier-error-rgb:	61, 0, 0;
--background-modifier-error-hover:	#da8548;
--background-modifier-cover:	rgba(0, 0, 0, 0.6);
	
--text-accent:	#ecbe7b;
--text-accent-hover:	var(--text-faint);
--text-normal:	#dfdfdf; 
--text-muted:	#d8d8d8;
--text-faint:	#adadad;
--text-error:	#ff6c6b;
--text-error-hover:	#da8548;
--text-highlight-bg:	var(--text-selection);
--text-selection:	#3e4451;
--text-on-accent:	var(--text-normal);
--interactive-normal:	var(--background-primary);
--interactive-hover:	rgba(0,0,0,0.05);
--interactive-accent:	rgba(0,0,0,0.1);
--interactive-accent-rgb:	198, 120, 221;
--interactive-accent-hover:	var(--text-selection);
--scrollbar-active-thumb-bg:	rgba(0, 0, 0, 0.1);
--scrollbar-bg:	rgba(0, 0, 0, 0.0);
--scrollbar-thumb-bg:	rgba(0, 0, 0, 0.08);
	
	
--graph-note-name:	var(--text-normal);
--graph-node-color:	var(--header-before-color);
--graph-line-color:	#282c3c;
--graph-line-on-hover:	var(--header-before-color);
--hashtag-color:	var(--text-normal);
--border-color:	#090b0d;
	
	
--blockquote-border:	var(--text-accent);
--pre-code-bg:	#121826;
--code-block:	var(--text-muted); 
--file-name-color:	var(--text-accent);
--inline-code:	var(--text-muted);
--interfa-color-icon:	var(--interface-color-border);
--interface-color-action:	var(--text-normal);
--interface-color-background-alt:	var(--background-primary);
--interface-color-border:	rgba(250,250,250,0.045);
--interface-color-foreground-alt:	var(--text-accent);
--interface-color-pin:	var(--text-normal);
--quick-switcher:	var(--text-selection); 
	
	
--text-title-h1:	#98be65;
--text-title-h2:	var(--text-title-h1);
--text-title-h3:	var(--text-title-h1);
--text-title-h4:	var(--text-title-h1);
--text-title-h5:	var(--text-title-h1); 
--text-title-h6:	var(--text-title-h1);
--ul-line-color:	#da8548;
	
--link-text:	var(--text-accent);
--link-bg:	#1c2f24;
--link-text-hover:	var(--text-accent);
--link-bg-hover:	#26242f;
	
--hashtag-color:	var(--text-normal);
--tag-text-color:	var(--text-normal);
--tag-bg:	#51afef;
--tag-text-hover:	var(--text-normal);
--tag-bg-hover:	#3071db;
	
--interface-color-cross:	#ff6c6b;
--interface-color-pencil:	#ecbe7b;
--interface-color-three-dots:	#46d9ff;
	
	
--interface-color-background:	#415358;
--interface-color-foreground:	#3e3e3e;
	
	
--font-size-footnote:	22px;
--font-size-h1:	1.9em;
--font-size-h2:	1.6em;
--font-size-h3:	1.3em;
--font-size-h4:	1.2em;
--font-size-h5:	1.1em;
--font-size-h6:	1em; 
--header-before-size-h1:	0.5em;
--header-before-size-h2:	0.5em;
--header-before-size-h3:	0.5em;
--header-before-size-h4:	0.5em;
--header-before-size-h5:	0.5em;
--header-before-size-h6:	0.5em;
--text-title-font-weight:	600;
--line-height-footnote:	1.2em;
--ul-line-specs:	0.9px solid;
--vim-cursor:	#5b6268;
--header-before-color:	#3071db;
--blockquote-bg:	var(--background-primary);
--bracket-color:	var(--header-before-color);
--checkbox-color: var(--background-primary);
--checkbox-enabled: var(--tag-bg);
--active-title-border: var(--interactive-accent);
--hr-color: hsl(195, 36%, 51%);
}


/*-------------------------------------*/
/* Search the following lines */
/* to jump to specific section */
/*-------------------------------------*/
/* resize-handle and borders */
/* tags */
/* link */
/* Cursor */
/* basic format in EDITOR and PREVIEW */
/* Headings - EDITOR and PREVIEW */
/* Code block in Preview */
/* Code block in Editor */
/* Brackets */
/* Blockquote */
/* table */
/* Checkbox */
/* html in editor */
/* popover */
/* Side panel */
/* internal embedded link in preview */
/* graph view */
/* settings */
/* Hide side bar */
/* width of content */
/* note header bar for non-andy mode */
/* andy mode activated in light mode */
/* at a rule line before ul list *
/* Hide Scrollbar (recommend for mac) */
/* hashtags before headers */
/*-------------------------------------*/


/*********************************/
/* link */
/*********************************/

a,
.internal-link,
.cm-hmd-internal-link,
.cm-link,
.cm-url {
text-decoration: none !important;
background-color: var(--link-bg)!important;
color: var(--link-text)!important;
}

a:hover,
.internal-link:hover,
.cm-hmd-internal-link:hover,
.cm-link:hover,
.cm-url:hover {
background-color: var(--link-bg-hover)!important;
color: var(--link-text-hover)!important;
}





/* the url string in editor */
.cm-s-obsidian span.cm-string{
color: var(--text-muted)!important;
}


/* make external links italics to differentiate */
a:not(.internal-link) {
/* font-style: italic; */
}


/*************************************/
/* tags */
/*************************************/

.cm-s-obsidian span.cm-hashtag-begin, 
.cm-s-obsidian span.cm-hashtag-end,
a.tag {
color: var(--tag-text-color) !important;
background-color: var(--tag-bg) !important;
font-family: var(--font-family) !important;
font-size: 1em;
text-decoration: none !important;
font-style: normal !important;
padding-bottom: 2px;
padding-top: 0.5px;
}

/* ---------------- */
/* -- BEAR TAGS --- */
/* ---------------- */

a.tag {
padding-left: 8px;
padding-right: 8px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}

.cm-s-obsidian span.cm-hashtag-begin {
padding-left: 8px;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
}

.cm-s-obsidian span.cm-hashtag-end {
padding-right: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
}

.cm-s-obsidian span.cm-hashtag {
color: var(--tag-text-color)!important;
background: var(--tag-bg)!important;
}

span.cm-formatting.cm-formatting-hashtag.cm-hashtag-begin.cm-hashtag.cm-meta {
color: var(--hashtag-color)!important;
}


a.tag:hover {
background-color: var(--tag-bg-hover) !important;
color: var(--tag-text-hover)!important;
}


/*footnote*/
.cm-s-obsidian pre.HyperMD-footnote
{
font-size: var(--font-size-footnote);
line-height: var(--line-height-footnote);
}

.footnotes
{
font-size: var(--font-size-footnote);
line-height: var(--line-height-footnote);
}

/* 
.cm-s-obsidian pre.HyperMD-footnote span.cm-hmd-footnote,
.cm-s-obsidian span.cm-footref {

}
 */


/***************************************/
/* resize-handle and borders */
/***************************************/


/*vertical resize-handle*/
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle, 
.workspace-split.mod-right-split > .workspace-leaf-resize-handle{
width: 1px !important;
background-color: var(--border-color);
}


/*horizontal resize-handle*/
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle{
height: 1px !important;
background-color: var(--border-color);
}


/*workspace ribbon when collapsed*/
.workspace-ribbon.is-collapsed {
background-color: var(--background-primary-alt);
}


/*the vertical split*/
.workspace-split.mod-root .workspace-split.mod-vertical .workspace-leaf-content,
.workspace-split.mod-vertical > .workspace-split,
.workspace-split.mod-vertical > .workspace-leaf,
.workspace-tabs{
padding-right: 0px;
}


/*status-bar*/
.status-bar {
font-size: var(--font-size-status-bar)!important;
background-color: var(--background-secondary-alt);
border-top: 0px;
}

.document-search-container{
border-top: 0px;
border-right: 0px;
z-index: inherit;
}


.workspace-ribbon.mod-left.is-collapsed{
border-right: 1px solid var(--border-color);
}


.workspace-ribbon.mod-right.is-collapsed{
border-left: 1px solid var(--border-color);
}




/***************************************/
/* Cursor */
/***************************************/


/* Cursor color and opacity */


.cm-fat-cursor .CodeMirror-cursor, .cm-animate-fat-cursor
 {
width: 0.5em;
background: var(--vim-cursor);
opacity: 60% !important;
}


/**************************************/
/* basic format in EDITOR and PREVIEW */
/**************************************/


/* font for everything outside of editor/preview panes */
.app-container {
font-family: var(--font-family-preview);
}


/* set the text selection color for preview mode */
::selection {
background-color: var(--text-selection)!important;
} 


/* normal text outside of headings and code of editor */
.cm-s-obsidian, .mod-single-child .cm-s-obsidian {
font-family: var(--font-family-editor);
/* 
text-align: justify;
text-justify: inter-word;
text-align-last: left;
 */
font-weight: 500;
font-size: var(--font-size-normal);
padding-top: 5px;
padding-left: 1% !important;
padding-right: 1% !important;
}


/* normal text outside of headings and code of preview */
.markdown-preview-view, .mod-single-child .markdown-preview-view {
font-family: var(--font-family-mdpreview);
font-size: var(--font-size-normal);
/* text-align: justify; */
/* text-justify: inter-word; */
text-align-last: left;
hyphens:auto;
line-height: var(--line-height-preview);
padding-top: 0px;
padding-left: 2% !important;
padding-right: 1% !important;
}

/* bold in preview and editor */
strong, .cm-strong {
font-weight: 600;
color: var(--text-title-h1);
}


/* emphasis in preview and editor */
em, .cm-em {
font-style: italic;
}


/* strikethrough in preview and editor */
s, .cm-strikethrough {
color: var(--text-muted);
}


/* list in editor */
.cm-s-obsidian span.cm-formatting-list {
color: var(--text-normal) !important;
}


/* horizontal line in preview */
.markdown-preview-view hr {
background-color: var(--text-faint) !important;
}


/* embedded images */
img {
display: block;
margin-left: auto;
margin-right: auto;
}
/* img hover zoom out img*/
img:hover {
transform: scale(1.04);
transition: transform 0.25s ease-in-out 0s;
}


/*disable image resize in setting pane*/
.community-theme img:hover{
transform: none;
}


/* Changing size/color of the header hashtags ## */
/* .cm-formatting-header {
font-size: 0.6em !important;
} */


/*text between :: show same color as normal text*/
.cm-formatting-emoji{
color: var(--text-normal) !important;
}


/*********************************/
/* Headings - EDITOR and PREVIEW */
/*********************************/



/* headings for editor and preview */
.cm-s-obsidian pre.HyperMD-header.HyperMD-header-1,
.cm-s-obsidian pre.HyperMD-header.HyperMD-header-2,
.cm-s-obsidian pre.HyperMD-header.HyperMD-header-3 {
	font-size: inherit;
}

.cm-header-1
{
font-family: var(--font-family-editor);
font-weight: 500;
font-size: var(--font-size-h1) !important;
color: var(--text-title-h1);
}

.cm-header-2
{
font-family: var(--font-family-editor); 
font-weight: 500;
font-size: var(--font-size-h2) !important;
color: var(--text-title-h2);
}

.cm-header-3
{
font-family: var(--font-family-editor);
font-weight: 500;
font-size: var(--font-size-h3) !important;
color: var(--text-title-h3);
}

.cm-header-4
{
font-family: var(--font-family-editor);
font-weight: 500;
font-size: var(--font-size-h4) !important;
color: var(--text-title-h4);
}

.cm-header-5
{
font-family: var(--font-family-editor);
font-weight: 500;
font-size: var(--font-size-h5) !important;
color: var(--text-title-h5);
}

.cm-header-6
{
font-family: var(--font-family-editor);
font-weight: 500;
font-size: var(--font-size-h6) !important;
color: var(--text-title-h6);
}


.markdown-preview-view h1
{
font-family: var(--font-family-mdpreview);
font-weight: var(--text-title-font-weight);
font-size: var(--font-size-h1) !important;
color: var(--text-title-h1);
line-height: var(--line-height-header-preview);
text-align: left;
}

.markdown-preview-view h2
{
font-family: var(--font-family-mdpreview);
font-weight: var(--text-title-font-weight);
font-size: var(--font-size-h2) !important;
color: var(--text-title-h2);
line-height: var(--line-height-header-preview);
text-align: left;
}

.markdown-preview-view h3
{
font-family: var(--font-family-mdpreview);
font-weight: var(--text-title-font-weight);
font-size: var(--font-size-h3) !important;
color: var(--text-title-h3);
line-height: var(--line-height-header-preview);
text-align: left;
}

.markdown-preview-view h4
{
font-family: var(--font-family-mdpreview);
font-weight: var(--text-title-font-weight);
font-size: var(--font-size-h4) !important;
color: var(--text-title-h4);
line-height: var(--line-height-header-preview);
text-align: left;
}

.markdown-preview-view h5
{
font-family: var(--font-family-mdpreview);
font-weight: var(--text-title-font-weight);
font-size: var(--font-size-h5) !important;
color: var(--text-title-h5);
line-height: var(--line-height-header-preview);
text-align: left;
}


.markdown-preview-view h6
{
font-family: var(--font-family-mdpreview);
font-weight: var(--text-title-font-weight);
font-size: var(--font-size-h6) !important;
color: var(--text-title-h6);
line-height: var(--line-height-header-preview);
text-align: left;
}


/***************************************/
/* Code block in Preview */
/***************************************/


/* code blocks in preview */
pre code {
font-family: var(--font-family-code) !important;
font-size: var(--font-size-code) !important;
background-color: var(--pre-code-bg)!important;
padding: 1em !important;
line-height: normal;
display: block;
color: var(--code-block) !important;
}


/* padding of code blocks in preview */
.markdown-preview-view pre {
padding: 0px !important;
}


/* font-size of in-line block for preview */
.markdown-preview-view code
{
font-size: 90%;
line-height: 1.7;
}


/* in-line block for preview */
code{
color: var(--inline-code) !important;
bottom: 0px !important;
}


/* remove the shadow that typically affect light mode */
.theme-dark code[class*="language-"],
.theme-dark pre[class*="language-"],
.theme-light code[class*="language-"],
.theme-light pre[class*="language-"]
{
text-shadow: none !important;
color: var(--text-faint) !important;
}


.theme-light code[class*="language-"],
.theme-light pre[class*="language-"]
{
background-color: var(--background-primary-alt);
}
.theme-light .token.operator,
.theme-light .token.entity,
.theme-light .token.url,
.theme-light .language-css .token.string,
.theme-light .style .token.string {
background-color: transparent;
}


.theme-dark .token.function,
.theme-dark .token.class-name, 
.theme-light .token.function,
.theme-light .token.class-name {
color: #DD4A68;
}


.theme-light .token.comment,
.theme-light .token.prolog,
.theme-light .token.doctype,
.theme-light .token.cdata {
color: slategray;
}
.theme-light .token.punctuation {
color: #f8f8f2;
}
.theme-light .token.namespace {
opacity: 0.7;
}
.theme-light .token.property,
.theme-light .token.tag,
.theme-light .token.constant,
.theme-light .token.symbol,
.theme-light .token.deleted {
color: #f92672;
}
.theme-light .token.boolean,
.theme-light .token.number {
color: #ae81ff;
}
.theme-light .token.selector,
.theme-light .token.attr-name,
.theme-light .token.string,
.theme-light .token.char,
.theme-light .token.builtin,
.theme-light .token.inserted {
color: #a6e22e;
}
.theme-light .token.operator,
.theme-light .token.entity,
.theme-light .token.url,
.theme-light .language-css .token.string,
.theme-light .style .token.string,
.theme-light .token.variable {
color: #f8f8f2;
}
.theme-light .token.atrule,
.theme-light .token.attr-value{
color: #e6db74;
}
.theme-light .token.keyword {
color: #66d9ef;
}
.theme-light .token.regex,
.theme-light .token.important {
color: #fd971f;
}
.theme-light .token.important,
.theme-light .token.bold {
font-weight: bold;
}
.theme-light .token.italic {
font-style: italic;
}
.theme-light .token.entity {
cursor: help;
}


/***************************************/
/* Code block in Editor */
/***************************************/


/* in-line block for editor */
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian span.cm-inline-code.cm-hmd-indented-code,
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code)
{
background-color: var(--pre-code-bg) !important;
color: var(--inline-code) !important;
bottom: 0px !important;
}


 /* Editor CodeBlock TEXT Appearance */
.cm-s-obsidian pre.HyperMD-codeblock {
font-family: var(--font-family-code) !important;
font-size: var(--font-size-code) !important;
padding: 1px !important;
display: block;
color: var(--code-block) !important;
font-weight: 500;
}


/*remove the border of codeblock in editor */
/* 
.HyperMD-codeblock-bg{
border: 0px !important;
}
 */


/*an active line highlight in vim normal mode 
.cm-fat-cursor .CodeMirror-activeline .CodeMirror-linebackground{
background-color: var(--text-selection) !important;
} */


/*if you want the highlight to present in both normal and insert mode of vim*/
/* 
.CodeMirror-activeline .CodeMirror-linebackground{
background-color: var(--text-selection) !important;
}
 */


/***************************************/
/* Brackets */
/***************************************/

.cm-s-obsidian span.cm-formatting-em,
.cm-s-obsidian span.cm-formatting-strong,
.cm-s-obsidian span.cm-formatting-link {
color: var(--bracket-color)!important;
}


/***************************************/
/* Blockquote */
/***************************************/


/* for editor */

.cm-quote {
color: var(--text-normal) !important;
font-size: var(--font-size-blockquote);
}

/* for preview */
/* 
.markdown-preview-view blockquote {
background-color: var(--blockquote-bg)!important;
border: 0px solid;
border-color: var(--blockquote-border)!important;
border-left-width: 4px !important;
border-radius: 0 8px 8px 0;
line-height: 1em;
margin: 0 10% 0 10%;
font-style: italic;
font-size: var(--font-size-blockquote);
}
 */


.markdown-preview-view blockquote {
	font-size: var(--font-size-blockquote);
	background-color: var(--background-secondary)!important;
	border-left: 5px solid var(--bracket-color)!important;
	border-top: 0px;
	border-bottom: 0px;
	border-right: 0px;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	position: relative;
	max-width: 80%;
	left:5%;
	font-style: normal;
	quotes: "\201C""\201D""\2018""\2019";
}

.markdown-preview-view blockquote:before {
	color: var(--text-title-h1);
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
/* 	margin-right: 0.25em; */
	vertical-align: -0.4em;
}

.markdown-preview-view blockquote p {
/* 	color: #23384d; */
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	display: inline;
		font-style: normal;
}

.markdown-preview-view blockquote::before {
	content: "\201C"
}

/* 
.markdown-preview-view blockquote::after {
	content: "\201D"
}

 */

/***************************************/
/* table */
/***************************************/


th {
font-weight: 800 !important;
}


.markdown-preview-view th {
font-weight: 800;
background-color: var(--background-secondary) !important;
}


thead {
border-bottom: 3px solid var(--background-modifier-border);
}


.table {
padding: 4px;
line-height: normal;
display: block;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}


/***************************************/
/* Checkbox */
/***************************************/
.checkbox-container {
background-color: var(--checkbox-color);
}

.checkbox-container.is-enabled {
  background-color: var(--checkbox-enabled);
}

/* Round checkbxes in preview and editor */
input[type=checkbox], .markdown-preview-view .cm-formatting-task {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    border: 1px solid var(--text-faint);
    padding: 0;
/*     vertical-align: middle;     */
}

.markdown-preview-view .cm-s-obsidian span.cm-formatting-task {
    color: transparent;
    width: 1em !important;
    height: 1em;
    display: inline-block;
}

input[type=checkbox]:focus{
  outline:0;
}
input[type=checkbox]:checked, .cm-formatting-task.cm-property {
    background-color: var(--text-accent-hover);
    border: 1px solid var(--text-accent-hover);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml; utf8, <svg width="12px" height="10px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-4.000000, -6.000000)" fill="%23ffffff"><path d="M8.1043257,14.0367999 L4.52468714,10.5420499 C4.32525014,10.3497722 4.32525014,10.0368095 4.52468714,9.8424863 L5.24777413,9.1439454 C5.44721114,8.95166768 5.77142411,8.95166768 5.97086112,9.1439454 L8.46638057,11.5903727 L14.0291389,6.1442083 C14.2285759,5.95193057 14.5527889,5.95193057 14.7522259,6.1442083 L15.4753129,6.84377194 C15.6747499,7.03604967 15.6747499,7.35003511 15.4753129,7.54129009 L8.82741268,14.0367999 C8.62797568,14.2290777 8.3037627,14.2290777 8.1043257,14.0367999"></path></g></g></svg>');
}

input[type='range'] {
  width: 100px;
  -webkit-appearance: none;
  background: var(--interactive-accent);
  border-radius: 3px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 6px;
  width: 12px;
  height: 12px;
  cursor: ew-resize;
  background: var(--background-modifier-border);
  position: relative;
  top: -3px;
}

.graph-controls {
    position: absolute;
    left: 8px;
    top: 8px;
    padding: 8px 16px 8px 8px;
    background-color: var(--background-primary);
    min-width: 140px;
    max-width: 240px;
    border: 1px solid var(--background-modifier-border);
    border-radius: 6px;
    max-height: calc(100% - 16px);
    overflow: auto;
}
/* 


.markdown-preview-view .task-list-item-checkbox:checked::before {
content: '✓';
position: absolute;
color: var(--text-accent);
font-size:1em;
line-height: 1.25em;
width:1.2em;
text-align:center;
text-shadow: 0 0 0.1em var(--text-accent);
}


.markdown-preview-view .task-list-item-checkbox {
-webkit-appearance: none;
top: 0.2em !important;
right: 4px;
box-sizing: border-box;
border: 1px solid var(--text-muted);
position: relative;
width: 1.25em;
height: 1.25em;
margin: 0;
box-shadow: 0 0 0.1em var(--text-muted);
}


.checkbox-container {
background-color: var(--checkbox-color);
}

.checkbox-container {
  cursor: pointer;
  border-radius: 14px;
  display: inline-block;
  height: 22px;
  position: relative;
  top: 4px;
  user-select: none;
  width: 42px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
  transition: background 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border 0.15s ease-in-out, opacity 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}


.checkbox-container.is-enabled {
  background-color: var(--checkbox-enabled);
}
.checkbox-container.is-enabled:after {
  transform: translate3d(19px, 0, 0);
}
.checkbox-container.is-enabled:active:after {
  left: -4px;
}
.checkbox-container:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}
.checkbox-container:after {
  pointer-events: none;
  content: '';
  display: block;
  position: absolute;
  background-color: #fff;
  width: 15px;
  height: 15px;
  margin: 3px;
  border-radius: 9px;
  transition: transform 0.15s ease-in-out, width 0.1s ease-in-out, left 0.1s ease-in-out, -webkit-transform 0.15s ease-in-out;
  left: 0;
  transform: translate3d(3px, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
}
.checkbox-container:active:after {
  width: 20px;
  }
 */
  


/***************************************/
/* html in editor */
/***************************************/


/* html tags in editor */
.cm-s-obsidian span.cm-tag {
color: var(--inline-code) !important;
}


/* html attribute and string in editor */
.cm-s-obsidian span.cm-attribute {
color: var(--text-normal) !important;
}


/* html comments in editor */
.cm-s-obsidian span.cm-comment {
color: var(--text-faint) !important;
}


/***************************************/
/* popover */
/***************************************/


.popover{
border: 1px solid var(--border-color);
background-color: var(--background-secondary);
}



/***************************************/
/* Side panel */
/***************************************/


/* search result in backlink or file search */
.search-result-file-title { 
font-size: var(--font-size-side-dock-title) ;
}


.search-result-file-matches, .search-empty-state {
font-size: var(--font-size-side-dock);
}


/*decrease the spacing between result items*/
.search-result-file-title,
.search-result-file-match {
padding: 0px 5px;
font-size: var(--font-small);
}

.search-result-file-title {
font-size: var(--font-medium)!important;
}

.nav-file-title, .nav-folder-title {
border-bottom-left-radius: 0 !important;
border-bottom-right-radius: 0 !important;
border-top-left-radius: 0 !important;
border-top-right-radius: 0 !important;
}



/*backlink pane*/
.workspace-leaf-content[data-type="backlink"] .view-content{
background-color: var(--background-secondary);
}

.tag-pane-tag-count {
  position: absolute;
  top: 2px;
  right: 10px;
}

.workspace-leaf-content[data-type="tag"] .tag-pane-tag-count,
.workspace-leaf-content[data-type="tag"] .tag-pane-tag-text { 
font-size: var(--font-medium)!important;
line-height: 1em;
padding-bottom: 2px;
padding-top: 2px;

padding-left: 8px;
padding-right: 8px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;

padding-left: 8px;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;

padding-right: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;

color: var(--tag-text-color)!important;
background: var(--tag-bg)!important;
}

.pane-clickable-item:hover {
background: inherit!important;
}
  
.workspace-leaf-content[data-type="backlink"] .search-result-file-matches {
font-size: var(--font-size-side-dock);
}


/***************************************/
/* graph view */
/***************************************/
.graph-view.color-circle,
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight
{
color: var(--graph-line-on-hover)!important; /* line color on hover */
}


.graph-view.color-text
{
color: var(--graph-note-name)!important; /* note name (with/without hover) */
font-size: 2em !important;
font-weight: 600 !important;
}


.graph-view.color-line {
color: var(--graph-line-color) !important; /* line color */
}


.graph-view.color-fill{
color: var(--graph-node-color)!important; /* node color */
}


.workspace-leaf-content[data-type = "graph"] .view-content{
background-color: var(--background-primary); /* background */ 
}


/***************************************/
/* settings */
/***************************************/


.modal.mod-settings button:not(.mod-cta):hover {
background-color: var(--interactive-accent-hover);
}


/***************************************/
/* Hide side bar */
/***************************************/
.workspace-ribbon {
z-index: 100;
}

.workspace-ribbon:not(:hover) .workspace-ribbon-collapse-btn, 
.workspace-ribbon:not(:hover) .side-dock-actions, 
.workspace-ribbon:not(:hover) .side-dock-settings {
display:none; 
transition: all 300ms ease-in-out;}
.workspace-ribbon:not(:hover) {
width: 0px;
transition: all 300ms ease-in-out;}

.workspace-split.mod-left-split {margin-left: 0px;}
.workspace-split.mod-right-split {margin-right: 0px;}



/***************************************/
/* width of content */
/***************************************/


.markdown-source-view.is-readable-line-width .CodeMirror, 
.markdown-preview-view.is-readable-line-width .markdown-preview-section {
max-width: 70vmax; /* 1vmax = 1% of the larger dimension*/
margin-left: auto;
margin-right: auto;
}


/**************************************/
/* note header bar for non-andy mode */
/* activated in dark mode */
/**************************************/


/* header */

.theme-dark .view-header {
background-color: var(--background-primary) !important; 
border-top: 0px solid var(--border-color) !important;
border-bottom: 1px solid var(--border-color) !important;
}


.theme-dark .view-header-title-container:after {
background: linear-gradient(to bottom, transparent, var(--background-primary)) !important;
}


.theme-dark .workspace-leaf.mod-active .view-header {
background-color: var(--background-secondary-alt) !important; 
border-top: 0px solid var(--active-title-border)!important;
border-bottom: 1px solid var(--border-color) !important;
}

.workspace-leaf .view-header-title-container:after, 
.workspace-leaf.mod-active .view-header-title-container:after {
width: 0px;
background: linear-gradient(to bottom, transparent, var(--background-secondary-alt)) !important;
}


.workspace-leaf.mod-active .view-header-title,
.workspace-leaf.mod-active .view-header-icon
{
color: var(--file-name-color) !important;
}


.view-header-title, .view-header-icon, .view-action{
color: var(--background-modifier-border) !important;
}


/**************************************/
/* andy mode activated in light mode */
/**************************************/


/* Andy Matuschak mode! V2! for 0.7.0! (so... 2.7?) */


/* everything under .mod-root now. Don't want Andy messing with sidebars */
/* also, Andy only makes sense for vertical splits, at the root level, right? */
.theme-light .mod-root.workspace-split.mod-vertical { 
overflow-x:auto; 
--sticky-left: 25px; /* <- 36px is the header height in the default theme */
}
.theme-light .mod-root.workspace-split.mod-vertical > div { 
min-width: calc(700px + var(--sticky-left)); /* <-- 700px is the default theme's "readable" max-width */
box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
position:sticky;
left:0;
}



/* shift sticky position, so titles will stack up to the left */
/* This will currently stack to a maximum of 10 before resetting */
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-8) { left: calc(var(--sticky-left) * 0); }
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-7) { left: calc(var(--sticky-left) * 1); }
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-6) { left: calc(var(--sticky-left) * 2); }
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-5) { left: calc(var(--sticky-left) * 3); }
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-4) { left: calc(var(--sticky-left) * 4); }
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-3) { left: calc(var(--sticky-left) * 5); }
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-2) { left: calc(var(--sticky-left) * 6); }
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-1) { left: calc(var(--sticky-left) * 7); }
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n+0) { left: calc(var(--sticky-left) * 8); }
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n+1) { left: calc(var(--sticky-left) * 9); }


/* now it's time for the fancy vertical titles */


/* first we'll add a bit of gap for the title to sit inside of */
.theme-light .workspace-leaf-content {
padding-left: var(--sticky-left);
position: relative;
}


/* this is where the magic happens */
.theme-light .view-header {
writing-mode: vertical-lr;
border-right: 1px solid var(--border-color);
border-left: 0px !important;
border-top: none;
border-bottom: none;
height: auto;
width: 36px;
position: absolute;
left:0;
top:0;
bottom:0;
background-color: var(--background-primary) !important;
}


/* fix the long-title-obscuring shadows */
.theme-light .view-header-title-container:after {
width: 100%;
height: 30px;
top:unset;
bottom: 0;
background: linear-gradient(to bottom, transparent, var(--background-primary))!important;
}


/* unset the title container height and swap padding */
.theme-light .view-header-title-container {
height: unset;
padding-left: unset;
padding-top: 5px;
}


/* active titles have different border colours */
.theme-light .workspace-leaf.mod-active .view-header {
background-color: var(--background-secondary-alt) !important; 
border-right: 3px solid var(--active-title-border) !important;
border-left: 0px;
border-bottom: none;
}


/* swap the padding/margin around for the header and actions icons */
.theme-light .view-header-icon, .theme-light .view-actions {
padding: 10px 5px;
}
.theme-light .view-action {
margin: 8px 0;
}


/* get rid of the gap left by the now-missing horizontal title */
.theme-light .view-content {
height: 100%;
}


/* make the fake drop target overlay have a background so you can see it. */
/* TODO: figure out how the fake target overlay works so we can put the title back, too */
.theme-light .workspace-fake-target-overlay {
background-color: var(--background-primary);
}


/*preview padding too small*/
.theme-light .markdown-preview-view, .theme-light .mod-single-child .markdown-preview-view {
font-family: var(--font-family-editor);
font-size: var(--font-size-normal);
padding-top: 5px;
padding-left: 4% !important;
padding-right: 2% !important;
}


/***************************************/
/* at a rule line before ul list */
/***************************************/


ul ul { position: relative; }
ul ul::before {
content:'';
border-left: var(--ul-line-specs) var(--ul-line-color);
position: absolute;
}
ul ul::before { left: -0.8em; top: 0; bottom: 0; }


/* rule line when there are checkboxes*/
ul .task-list-item ul::before {left: 0.15em !important}

/* ul line in source mode */
.cm-hmd-list-indent .cm-tab::before{
content: ' ';
border-left: var(--ul-line-specs) var(--ul-line-color);
position: absolute;
height: 100%;
}

/* 
.cm-hmd-list-indent::before {
content: '';
border-left: var(--ul-line-specs) var(--ul-line-color);
left: 0.4em;
position: absolute;
height: 100%;
}
 */

/* 
.cm-hmd-list-indent-2::before {
content: '';
border-left: 0.8px solid #777;
left: 2.5em;
position: absolute;
height: 100%;
}
 */



/***************************************/
/* Hide Scrollbar (recommend for mac) */
/***************************************/


/* Hide scrollbar in preview, search, file, tag, back links */
/* .markdown-preview-view::-webkit-scrollbar, */
.workspace-leaf-content::-webkit-scrollbar, 
.workspace-leaf-content[data-type = "backlink"] .view-content::-webkit-scrollbar {
display: none;
}
Hide scrollbar for editor.CodeMirror-vscrollbar {
display: none !important;
}

disable the scrollbar for search pane
.search-result-container::-webkit-scrollbar,
.nav-files-container::-webkit-scrollbar,
.tag-pane-tags::-webkit-scrollbar {
display: none; 
}


disable the scrollbar for main-container
.theme-light .horizontal-main-container ::-webkit-scrollbar{
display: none !important;
}

.CodeMirror-cursor { 
border-left-width: 0.2em;
opacity: 0.75;
}

/* botões*/
.view-actions {
padding: 0;
}
.view-action {
color: var(--text-normal) !important;
top: 1px;
margin: 0px 8px 0px 0px;
order: 3;
}
.view-action[aria-label='Pin'] {
padding-top: 3px;
order: 2;
}
.view-action[aria-label='Close'] {
order: 4;
}
.view-action[aria-label='Unlink pane'] {
padding-top: 3px;
order: 1;
}
.view-action > svg.cross,
.view-action > svg.vertical-three-dots,
.view-action > svg.pencil,
.view-action > svg.lines-of-text {
width: 12px;
height: 12px;
padding: 5.5px;
border-radius: 100px;
}
.view-action > svg.cross { 
background-color: var(--interface-color-cross);
}
.view-action > svg.vertical-three-dots {
background-color: var(--interface-color-three-dots);
}
.view-action > svg.pencil {
background-color: var(--interface-color-pencil);
}
.view-action > svg.lines-of-text {
background-color: var(--interface-color-pencil);
}
.view-action > svg.filled-pin {
padding: 1px;
color: var(--interface-color-pin) !important; 
opacity: 0.8;
}
.view-action > svg.link {
padding: 0px;
color: var(--interface-color-pin) !important; 
opacity: 0.8; 
}
.view-action > svg.broken-link {
padding: 0px;
color: var(--interface-color-pin) !important; 
opacity: 0.8; 
}
.view-action:hover > svg.cross,
.view-action:hover > svg.vertical-three-dots,
.view-action:hover > svg.pencil,
.view-action:hover > svg.lines-of-text {
width: 30px;
height: 30px;
padding: 4.5px;
border-radius: 100px;
color: var(--interfa-color-icon);
transition: width, height 0.2s;
}
.view-action[aria-label='Pin']:hover > svg.filled-pin {
width: 23px;
height: 23px;
transition: width, height 0.2s;
}
.view-action[aria-label='Unlink pane']:hover > svg.broken-link {
width: 23px;
height: 23px;
transition: width, height 0.2s;
}

/* right side header icon */
.view-action > svg,
.view-header-icon > svg {
width: 13px;
height: 17px;
}
.view-header-icon {
padding: 5px 5px 5px 5px;
}
.view-action,
.view-header-icon {
top: 0px;
}


/* _hide_sidebar_on_collapse */
/*-------------------------------------*/
.workspace-ribbon.is-collapsed:not(:hover) > .workspace-ribbon-collapse-btn, 
.workspace-ribbon.is-collapsed:not(:hover) > .side-dock-actions, 
.workspace-ribbon.is-collapsed:not(:hover) > .side-dock-settings {
opacity: 0;
transition: all 500ms ease-in-out;
}
.workspace-ribbon.is-collapsed:not(:hover) {
width: 0px;
transition: all 300ms ease-in-out;
}
.workspace-ribbon.is-collapsed:hover {
width: 30px;
transition: all 300ms ease-in-out;
}
.workspace-ribbon.is-collapsed:hover > .workspace-ribbon-collapse-btn, 
.workspace-ribbon.is-collapsed:hover > .side-dock-actions, 
.workspace-ribbon.is-collapsed:hover > .side-dock-settings {
opacity: 1; 
transition: all 500ms ease-in-out;
}
.workspace-ribbon.mod-left.is-collapsed ~ .workspace-split.mod-left-split {
margin-left: 0px;
}
.workspace-ribbon.mod-right.is-collapsed ~ .workspace-split.mod-right-split {
margin-right: 0px;
}
.workspace-ribbon.mod-right.is-collapsed:hover ~ .workspace-split.mod-right-split {
transition: all 300ms ease-in-out;
margin-right: 30px; 
}
.workspace-ribbon.mod-left.is-collapsed:hover ~ .workspace-split.mod-left-split {
transition: all 300ms ease-in-out;
margin-right: 30px; 
}
 
 
 
 /* status bar*/
 .status-bar {
background-color: var(--background-secondary-alt);
border-color: var(--background-secondary-alt);
}
.status-bar {
padding: 0 30px;
}
.status-bar-item {
background-color: var(--background-primary);
border-radius: 4px;
font-size: var(--font-small);
border: 2px solid var(--background-secondary-alt);
display: inline-block;
vertical-align: middle;
line-height: var(--font-line-height-side);
}

/***************************************/
/* _search_results_and_backlinks */
/***************************************/
.side-dock-collapsible-section-header,
.search-empty-state,
.search-result-file-title,
.search-result-file-matches,
.side-dock-collapsible-section-header {
font-family: var(--font-family);
font-size: var(--font-size-side);
}
.search-result {
/* 
background-color: var(--interface-color-background-alt);
 */
border-radius: 0px;
border-bottom: 0em solid var(--border-color);
padding: 10px;
margin: 0px 0px 0px 0px;
}

/* 
.search-result:hover,
.search-result-file-match:hover,
.search-result-file-title:hover {
background-color: var(--tag-bg);
}
 */
 
.search-result-container {
line-height: var(--font-line-height-side);
padding: 0px;
} 
.search-result-container.mod-global-search {
padding: 0px 3px 0px 11px;
}
.search-result-file-title {
padding: 0px 10px;
font-weight: bold;
font-family: var(--font-family-editor);
}
.search-result-file-matches {
padding: 0px;
}
.side-dock-collapsible-section-header {
padding: 0px 0px 0px 10px;
}
.side-dock-collapsible-section-header-indicator {
left: -2px;
top: -2px;
}

.search-result-container {
padding: 0px;
}
.workspace-split.mod-right-split .view-content {
padding: 10px 10px !important;
}


/***************************************/
/* _pane_header */
/***************************************/
.view-header {
border-color: var(--background-secondary);
border-top: 0px solid var(--background-secondary);
border-bottom: 0px solid var(--interface-color-border);
background-color: var(--interface-color-border);
}

.workspace-leaf.mod-active .view-header {
background-color: var(--background-secondary);
border-bottom: 2px solid var(--active-title-border);
}


.workspace-leaf.mod-active .view-header-title {
color: var(--interface-color-foreground-alt);
}

.workspace-leaf.mod-active .view-action > svg,
.workspace-leaf.mod-active .view-header-icon > svg {
color: var(--interface-color-foreground-alt);
}

.workspace-leaf.mod-active .view-header {
background-color: var(--interface-color-background);
border-bottom: 0px;
}

.workspace-leaf.mod-active > .workspace-leaf-content {
border-color: var(--interface-color-background);
}

.workspace-split.mod-root > .workspace-leaf:first-of-type:last-of-type .view-header {
border-bottom: 2px var(--interface-color-border);
background-color: var(--interface-color-border);
}

.workspace-split.mod-root > .workspace-leaf:first-of-type:last-of-type .workspace-leaf-content {
border-color: var(--interface-color-border);
}

/* _scale */
/*-------------------------------------*/
.view-header,
.view-header-title-container {
height: 28px;
}

.view-header-title {
font-size: var(--font-size-header-titles);
line-height: 28px;
}

/* Wrap long nav text and some paddings */
.nav-file-title,
.nav-folder-title {
	white-space: normal;
}

/* Indent wrapped nav text */
.nav-file-title-content {
	margin-left: 0px;
	text-indent: -20px;
}

/* hashtags before headers */


h1:before {
content: "H1 ";
font-size: var(--header-before-size-h1);
color: var(--header-before-color);
}
h2:before {
content: "H2 ";
padding-left: 0.3em;
font-size: var(--header-before-size-h2);
color: var(--header-before-color);
}
h3:before {
content: "H3 ";
padding-left: 0.72em;
font-size: var(--header-before-size-h3);
color: var(--header-before-color);
}
h4:before {
content: "H4 ";
padding-left: 0.92em;
font-size: var(--header-before-size-h4);
color: var(--header-before-color);
}
h5:before {
content: "H5 ";
padding-left: 1.15em;
font-size: var(--header-before-size-h5);
color: var(--header-before-color);
}
h6:before {
content: "H6 ";
padding-left: 1.42em;
font-size: var(--header-before-size-h6);
color: var(--header-before-color);
}


/* Make subtler folding gutter arrows */
.CodeMirror-foldgutter-folded:after, .CodeMirror-foldgutter-open:after {
opacity: 0.3;
font-size: 140%;
position: relative;
top: 10px;
}

.CodeMirror-foldgutter-folded:hover:after, .CodeMirror-foldgutter-open:hover:after {
opacity: 1;
}

.CodeMirror-foldgutter-folded:after {
content: "\25BA"; 
}

.CodeMirror-foldgutter-open:after {
content: "\25BC"; 
}


/* search box color */
/* 
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
background: white!important;
}
 */


/* quick switcher */
.suggestion-item.is-selected {
background-color: var(--quick-switcher);
}


/* side ribbon */
.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover {
color: var(--text-accent);
}

.workspace-tab-header:hover {
color: var(--text-accent);
}

.workspace-tab-header.is-active:hover {
color: var(--text-accent);
}


/* file names in navbar */
.nav-file-title,
.nav-folder-title {
  color: var(--text-muted);
  font-size: var(--font-small);
  line-height: 20px;
  padding: 1px 20px 0 26px;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}


.markdown-preview-view {
  background-color: var(--background-primary)!important;
}



/***************************************/
/* internal embedded link in preview a.k.a. transclusion */
/***************************************/

/* 
.internal-embed, 
.internal-embed > .markdown-embed,
.internal-embed > .markdown-embed > .markdown-embed-content,
.markdown-embed-content > * {
	display: inline;
	padding:10px;
}
 */
/* 
.markdown-embed-link {
	position: static;
	display: inline;
}
 */


/* Naked Embeds */
.markdown-embed-title { display: none; } /* Remove file name */

.markdown-preview-view .markdown-embed-content>:first-child { margin-top: 0;}
.markdown-preview-view .markdown-embed-content>:last-child { margin-bottom: 0;}

/*remove the following two line, you will get border and scroll*/
/* 
.markdown-preview-view .markdown-embed { border:none; padding:0; margin:0; }
 */
.markdown-preview-view .markdown-embed-content { 
max-height: unset;
background-color: var(--background-primary); /*define different bg color*/
padding-right: 0px;
/* border-top: 1px dashed var(--text-faint); */
border-bottom: 2px dashed var(--text-faint);
}

/* the link on the top right corner*/
.markdown-embed-link::before,
.markdown-embed-link::after {
	content: ' ';
	padding: 7px; 
}
.markdown-embed-link::before {
	content: ' Edit original ';
	padding-right: 0px;
	font-family: var(--font-family-code);
	font-size: var(--font-small);
	vertical-align: 3px;
}

.markdown-embed-link, .file-embed-link {
	color: var(--text-normal) !important;
	font-size: var(--font-small)!important;
	top: -20px;
	right: 10px;
	background-color: var(--background-accent)!important;
	padding: 2px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.markdown-embed-link:hover {
color: var(--text-accent)!important;
/* background: var(--tag-bg)!important; */
}

.markdown-preview-view .markdown-embed,
.markdown-preview-view .file-embed {
  background-color: var(--background-primary);
  border-radius: 6px;
  border: 0px solid var(--background-modifier-border);
  padding: 0px;  margin: 0px;  
}
/* 
  border-bottom: 0px dashed;
  border-bottom-color: var(--header-before-color);
 */

/* Ignora o primeiro header e os dois primeiros parágrafos */
/* .markdown-preview-view .markdown-embed-content>:first-child + p + p { display:none;}  */
/* .markdown-preview-view .markdown-embed-content>:first-child + p { display:none;}  */
.markdown-preview-view .markdown-embed-content> h1:first-child { display:none;} 


/* Remove embed yaml first separator */
/* .markdown-embed-content > hr:first-child { display: none; } */
/* Remove embed yaml content */
/* .markdown-embed-content > hr:first-child + p { display: none; } */
/* Remove embed yaml second separator (if empty) */
/* .markdown-embed-content > hr:first-child + hr { display: none; } */
/* Remove embed yaml second separator */
/* .markdown-embed-content > hr:first-child + p + hr { display: none; } */

span.obsidian-search-match-highlight{
color: var(--text-normal) !important;
background-color: var(--text-search-highlight-bg)!important;
}

.search-result-collapse-indicator {
    position: absolute;
    left: -10px;
    top: -10px;
}
div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-string.cm-url:not(.cm-formatting) {
    font-size: 0;
}


/* 
div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-string.cm-url:not(.cm-formatting)::after {
    content: '🔗';
    font-size: 1rem;
}
.nav-file-icon {
    left: -1rem;
}
 */


/* 
.footnotes {
  border-top: 1px solid hsl(0, 0%, 39%);
}
 */

hr.footnotes-sep {
	width: 50%!important;
	border: 0.2px solid var(--hr-color)!important;
	background-color: var(--background-primary)!important;
}

ol.footnotes-list {
  text-align: left;
  line-height: 1.5;
  font-size: 85%;
}


.footnotes ol li p{
	margin-top: 1em;
	margin-right: 0.5em;
	margin-left: 0.5em;
	margin-bottom: 1.0em;
}


.markdown-preview-view hr {
	height: 0px !important;
	border: 0.1px solid var(--hr-color);
	border-radius: 5px;
	width: 50%;
	margin: 2em auto;
}

/* Remove a hr e o parágrafo abaixo */
/* 
.markdown-embed-content > hr + p { display: none; }
.markdown-embed-content > hr { display: none; }
.markdown-embed-content > hr.footnotes-sep { display: block;!important; }
 */

sub,
sup {
	font-size: 0.7em;
/* 	color: #666; */
	position: middle;
	line-height: 0;
	vertical-align: super;
}

sup > a {
	font-family: var(--font-family-code)!important;
	}

.footnote-link::before {
}
